body {
    font-family: sans-serif;
    line-height: 1.5;
  
    background-color: #eae1e7;
    color: #4f1192;
  
    width: 980px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 0;
  }
  
  main > h2 {
    text-align: center;
    font-size: 25px;
  }